body {
    font-family: montserrat, arial, verdana;
    margin: 0;
    padding: 0;
    background-color: #ecccb4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.card {
    transition: 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-nav .nav-link:hover {
    color: #ecccb4 !important;
    transform: scale(1.1);
    transition: 0.2s;
}

.btn-kuro {
    background-color: #a85d30;
    color: #ecccb4;
    padding: 15px;
    border: none;
    border-radius: 5px;
    transition: 0.2s;
}

.btn-kuro:hover {
    background-color: #ecccb4;
    color: #a85d30;
}

.navbar-toggler {
    background-color: #ce8b5c !important; 
    border: 2px solid #ecccb4 !important; 
    padding: 8px 12px;
}

.navbar-toggler-icon {
    filter: brightness(0) invert(1);
}
